.message {
  display: flex;
  align-items: center;
}

p {
  max-width: 80%;
  min-width: 20%;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent > p {
  color: white;
  background: #007bff;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}
