.navbar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
}

.navbar > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item > a,
.nav-item > span {
  color: white;
  text-decoration: none;
  font-size: 20pxpx;
}

.nav-item > button {
  margin-left: 10px;
}

.nav-item:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .nav-item > a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
}
